.content{
    min-height: 80dvh;
    padding: 20px 10px;
    background-color: #efefef;
}
.container{
    width: 100%;
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 0; */
    /* margin-left: 65px; */
}